{% import searchManager.standardFilters as standardFilters %}

{% for filterBlock in blocks %}
    {% set groups = filterBlock.groupsFilters %}
    {% for group in groups %}
        {% set filters = filterBlock.filtersByGroup(group) %}
        <div class="row">
            {% for filter in filters %}
                {% set isGranted = true %}
                {% if filter.rol is not null %}
                    {% set isGranted = is_granted([filter.rol])%}
                {% endif %}
                {% if isGranted %}
                    {% set ref = filter.ref %}
                    <div class="col-md-4 col-xl-3" title="{{ ref }}">{{ searchManager.renderFilter(filter)|raw }}</div>  
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    {{ standardFilters.eraserAll() }}
{% endfor %}