{% include "AtechnologiesToolsBundle:util:loading.css.twig" %}

<div ng-controller="TabsController as tabsCtrl" class="ng-cloak nav-tabs-custom" ng-init="tabsCtrl.init({ tab: {{ tab.toArray()|json_encode }} })">
    <ul id="tabs" class="nav nav-tabs pull-right">        
        <li class="pull-left header">
            {% if tab.icon %}
                <i class="{{ tab.icon }}"></i>
            {% else %}
                <i class="fa fa-th"></i>
            {% endif %}
            &nbsp;
            {{ tab.name|trans({},"titles") }}
        </li>
        <li class="pull-left">
            <ul class="nav nav-tabs">
                <li ng-repeat="tabContent in tabsCtrl.tab.tabsContent" class="ng-class:tabsCtrl.getClsTab(tabContent)" ng-click="tabsCtrl.selectedTab(tabContent)">
                    <a data-toggle="tab" href="#{$ tabContent.id $}">
                        <i class="{$ tabContent.icon $}" ng-if="tabContent.icon"></i>
                        {$ tabContent.name $}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="tab-content tab-no-content">
        <div ng-loading="tabsCtrl.currentTab.loading">
            <div ng-if="tabContent.options.add_content_div" class="tab-content">
                <div ng-include="tabsCtrl.currentTab.url" onload="tabsCtrl.loaded(tabsCtrl.currentTab)"></div>
            </div>
            <div ng-if="!tabContent.options.add_content_div" ng-include="tabsCtrl.currentTab.url" onload="tabsCtrl.loaded(tabsCtrl.currentTab)"></div>
        </div>
    </div>
</div>